/* styles.css */

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #dbe303, #c30c0c);
}

h1 {
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    background: #fff;
    padding: 40px 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
    text-align: left;
}

textarea, input[type="file"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #667eea;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #764ba2;
}

#message {
    margin-top: 20px;
    color: red;
    font-size: 14px;
}


.forgot-password {
    margin-top: 20px;
}

.forgot-password a {
    color: #666;
    text-decoration: none;
    transition: color 0.3s ease;
}

.forgot-password a:hover {
    color: #333;
}


input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 15px;
    margin-bottom: 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 50px;
    background-color: #667eea;
    color: white;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
    background-color: #764ba2;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #667eea;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #764ba2;
}

#message {
    margin-top: 20px;
    color: red;
    font-size: 14px;
}